#logo-link {
  display: flex;
  align-items: center;
  margin-bottom: 3.25rem;
  margin-left: 0;
}

#logo-img {
  margin: 0;
}

#logo-title {
  font-size: 1.625rem;
  font-weight: bolder;
  margin: 0 5%;
}