#upgrade {
    padding: 1.625rem 2.063rem 1.375rem 2.063rem;
    background: linear-gradient(to right, #EAABF0, #4623E9);
    border-radius: 35px;
}

#upgrade-header {
    font-size: 0.875rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
    display: inline-block;
    margin-bottom: 1.25rem;
    color: var(--secondary-text-color);
}

#upgrade-link {
    font-size: 0.875rem;
    font-weight: bold;
    display: inline-block;
    text-align: center;
    width: 100%;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    color: #4925E9;
    background-color: var(--secondary-text-color);
    border-radius: 35px;
    text-decoration: none;
}