form {
    background-color: var(--secondary-text-color);
    display: flex;
    align-items: center;
    padding: 0.5rem 0.75rem;
    border-radius: 10px;
}

.search-input {
    margin-left: 0.5rem;
    border: none;
    outline: none;
}