#content {
    flex-grow: 1;
    padding: 2.5rem 4.4375rem;
}

#content-header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 2.438rem;
}

#content-header-greeting {
    margin: 0;
}

#content-search {
    margin-left: auto;
    margin-right: 0;
}